        * {
            box-sizing: border-box;
        }
        
        html {
            height: 100%;
        }
        
        body {
            margin: 0;
            padding: 0;
            text-transform: capitalize;
            background-color: #FFCD9E;
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }
        
        h6 {
            color: white;
            margin-left: 20px;
        }
        
        button {
            background-color: black;
            color: white;
            font-size: 0.8rem;
            padding: 11px;
            font-weight: bold;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
        
        form>input {
            font-size: 1rem;
            padding: 10px;
            font-weight: bold;
            border-radius: 4px;
            margin-bottom: 4px;
            border: 3px solid black;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px
        }
        
        div.img,
        #img-size {
            width: 23rem;
            height: 30rem;
        }
        
        p {
            font-weight: lighter;
            padding: 2px;
        }
        
        h5 {
            font-size: medium;
            font-weight: bolder;
        }
        
        h6 {
            font-size: medium;
            margin-left: 15px;
            color: white;
        }
        
        footer {
            background-color: black;
            margin-top: auto;
            height: auto;
            width: 100%;
        }
        
        ul {
            list-style: none;
            padding: 0;
        }
        
        .main {
            height: fit-content;
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;
            margin: 50px;
            margin-bottom: 0;
        }
        
        .content {
            height: 100%;
        }
        
        .footer {
            color: white;
            padding: 5px;
            width: 100%;
        }
        
        .footer>.footer-items {
            padding: 1rem 4rem;
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            left: 0;
        }